<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <link rel="Stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1 th:text="${hello}" style="line-height:10px;"></h1>
<!-- 用于测试时候使用jquery函数 -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    function poll() {
        $.post('/polling/chat',function(data){
            if(data.text){
                console.log(data.text);
            }else if(data.errmessage){
                console.log(data.errmessage);
            }
            poll();
        })
    }
    poll();
    console.log('poll');

    function subscribe(channel) {
        $.post('/polling/subscribe',{
            channel:channel
        },function (e) {
            console.log(e);
        })
    }
    function unsubscribe(channel) {
        $.post('/polling/unsubscribe',{
            channel:channel
        },function (e) {
            console.log(e);
        })
    }
    function send(channel,text) {
        $.ajax({
            url:"/polling/send",
            type: "POST",
            data: JSON.stringify({
                channel:channel,
                message:{
                    text:text
                }
            }),
            success: function (e) {
                console.log(e);
            },
            dataType: "json",
            contentType: "application/json"
        });
    }
</script>
</body>
</html>