<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="Stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<style>
    input{
        color:#454545;
    }
</style>
<body>
错误信息：
<h4 id="erro"></h4>
<form>
    <p>
        <label for="username">账号：</label>
        <input type="text" name="username" id="username" value="admin" />
    </p>
    <p>
        <label for="password">密码：</label>
        <input type="text" name="password" id="password" value="123" />
    </p>
    <p>
        <input type="button" id="ajaxLogin" value="登录" />
    </p>
</form>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#ajaxLogin").click(function() {
        var username = $("#username").val();
        var password = $("#password").val();
        $.post("/login", {
            "username" : username,
            "password" : password
        }, function(result) {
            if (result.status === 200) {
                location.href = "/index";
            } else {
                $("#erro").html(result.message);
            }
        });
    });
</script>
</body>
</html>